{% load static %}
{% load ottm %}
<!DOCTYPE html>
<html lang="{{ context.language.code }}" dir="{{ context.language.writing_direction }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% if context.no_index %}
    <meta name="robots" content="noindex">
  {% endif %}

  <title>{% if context.tab_title %}{{ context.tab_title }} &mdash; {% endif %}{{ context.site_name }}</title>

  <link href="{% static 'ottm/libs/materialdesign-icons/css/materialdesignicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'ottm/libs/bootstrap-4.5.2-dist/css/bootstrap.min.css' %}" rel="stylesheet">
  {% block styles %}{% endblock styles %}
</head>
<body>
  {% block page-content %}{% endblock %}

  <script src="{% static 'ottm/libs/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'ottm/libs/popper.min.js' %}"></script>
  <script src="{% static 'ottm/libs/bootstrap-4.5.2-dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'ottm/main.min.js' %}"></script>
  {% block page-scripts %}{% endblock %}
  <script>window.ottm.setReferer()</script>
</body>
</html>
