{% extends 'ottm/ottm-base.html' %}
{% load static %}

{% block styles %}
  {{ block.super }}
  <link href="{% static 'ottm/libs/leaflet/leaflet.css' %}" rel="stylesheet">
  <link href="{% static 'ottm/libs/leaflet/plugins/Control.Geocoder.css' %}" rel="stylesheet">
  <link href="{% static 'ottm/map/style.min.css' %}" rel="stylesheet">
  {% if context.dark_mode %}
    <link href="{% static 'ottm/map/dark.min.css' %}" rel="stylesheet">
  {% else %}
    <link href="{% static 'ottm/map/light.min.css' %}" rel="stylesheet">
  {% endif %}
{% endblock %}

{% block page-content %}
  {{ block.super }}
  <aside style="display: none" id="editor-panel"></aside>
  <div id="map"></div>
{% endblock %}

{% block page-scripts %}
  {{ block.super }}
  <script id="ottm-map-config-script">window.OTTM_MAP_CONFIG = {{ context.map_js_config|safe }};</script>
  <script type="module" src="{% static 'ottm/map/map.js' %}"></script>{# TODO use minified #}
{% endblock %}
