{% extends 'ottm/ottm-base.html' %}
{% load static %}

{% block styles %}
  {{ block.super }}
  <link href="{% static 'ottm/libs/leaflet/leaflet.css' %}" rel="stylesheet">
  <link href="{% static 'ottm/libs/leaflet/plugins/esri-leaflet-geocoder/esri-leaflet-geocoder.css' %}"
        rel="stylesheet">
  <link href="{% static 'ottm/map/map.min.css' %}" rel="stylesheet">
{% endblock %}

{% block page-content %}
  {{ block.super }}
  <aside>{% block side-menu %}{% endblock %}</aside>
  <div id="map"></div>
{% endblock %}

{% block page-scripts %}
  {{ block.super }}
  <script src="{% static 'ottm/libs/leaflet/leaflet.js' %}"></script>
  <script src="{% static 'ottm/libs/leaflet/plugins/esri-leaflet/esri-leaflet.js' %}"></script>
  <script src="{% static 'ottm/libs/leaflet/plugins/esri-leaflet-geocoder/esri-leaflet-geocoder.js' %}"></script>
  <script src="{% static 'ottm/libs/leaflet/plugins/Leaflet.Editable.js' %}"></script>
  <script src="{% static 'ottm/libs/leaflet/plugins/leaflet.geometryutil.js' %}"></script>
  {#  <script src="{% static 'ottm/libs/leaflet/plugins/leaflet.snap.js' %}"></script>#}
  <script id="ottm-map-config">window.OTTM_MAP_CONFIG = {{ context.map_js_config|safe }};</script>
  <script src="{% static 'ottm/map/map.min.js' %}"></script>
{% endblock %}
