{% extends 'ottm/base.html' %}
{% load static %}
{% load ottm %}

{% block navbar-left %}
  <li class="nav-item"
      {% if not context.user.is_logged_in %}title="{% ottm_translate 'navbar.edit.signup_title' %}"{% endif %}>
    <a id="nav-edit-link" class="nav-link{% if not context.user.is_authenticated %} disabled{% endif %}"
       href="{% url 'ottm:edit' %}" {% if not context.user.is_authenticated %}tabindex="-1"
       aria-disabled="true" {% endif %}>
      <span class="mdi mdi-pencil"></span> {% ottm_translate 'navbar.edit.label' %}
    </a>
  </li>
  <li class="nav-item">
    <a id="nav-history-link" class="nav-link" href="{% url 'ottm:history' %}">
      <span class="mdi mdi-history"></span> {% ottm_translate 'navbar.history.label' %}
    </a>
  </li>
{% endblock %}

{% block navbar-right %}
  <li class="nav-item">
    <a id="nav-help-link" class="nav-link" href="{% url 'ottm:wiki_main_page' %}">
      <span class="mdi mdi-book-open-variant"></span> {% ottm_translate 'navbar.wiki.label' %}
    </a>
  </li>
{% endblock %}
