{% extends 'ottm/user-page-base.html' %}
{% load ottm %}
{% load wiki %}
{% load static %}

{% block page-title %}
  <img src="{% static 'ottm/images/user_avatar.svg' %}" id="user-icon" alt="profile picture"/>
{% endblock %}

{% block container-content %}
  <h2>{% ottm_translate 'page.user_profile.statistics.title' %}</h2>
  <table class="table table-striped table-hover">
    <colgroup>
      <col style="width: 40%">
    </colgroup>
    <tbody>
      <tr>
        <th scope="row">{% ottm_translate 'page.user_profile.statistics.account_creation_date_label' %}</th>
        <td>{% ottm_format_date context.target_user.internal_object.date_joined %}</td>
      </tr>
      <tr>
        <th scope="row">{% ottm_translate 'page.user_profile.statistics.groups' %}</th>
        <td>{{ context.user_groups|join:', ' }}</td>
      </tr>
      <tr>
        <th scope="row">{% ottm_translate 'page.user_profile.statistics.bot' %}</th>
        <td>
          {% if context.target_user.is_bot %}
            <span class="mdi mdi-check-bold text-success"></span>
          {% else %}
            <span class="mdi mdi-close-thick text-danger"></span>
          {% endif %}
        </td>
      </tr>
      <tr>
        <th scope="row">{% ottm_translate 'page.user_profile.statistics.notes_count_label' %}</th>
        <td>{% ottm_format_number context.target_user.notes_count %}</td>
      </tr>
      <tr>
        <th scope="row">{% ottm_translate 'page.user_profile.statistics.edits_count_label' %}</th>
        <td>{% ottm_format_number context.target_user.edits_count %}</td>
      </tr>
      <tr>
        <th scope="row">{% ottm_translate 'page.user_profile.statistics.wiki_edits_count_label' %}</th>
        <td>{% ottm_format_number context.target_user.wiki_edits_count %}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
