.idea/
venv/
js/node_modules/
js/test/compiled/
build_scripts/mdi_names/raw_files/
build_scripts/osm_translations/raw_files/

*.sqlite3
# Ignore migrations until database’s structure is stable
ottm/migrations/0*.py
