{% extends 'main_app/not-map.html' %}

{% block container-content %}
  <p class="font-weight-bold">
    {{ context.site_name }}’s aim is to map the evolution of railways lines and infrastructures all over the world.
  </p>

  <h2>Open data</h2>
  <p>
    {{ context.site_name }} is open data: you are free to use it for any purpose as long as you
    credit {{ context.site_name }} and its contributors. If you alter or build upon the data in certain ways, you may
    distribute the result only under the same licence. See the <a href="{% url 'main_app:copyright' %}">Copyright and
    License</a> page for details.
  </p>

  <h2>Credits</h2>
  <ul>
    <li>
      Default user icon from
      <a href="https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_userAvatar-progressive.svg">Wikimedia
      Commons</a> © <a href="https://phabricator.wikimedia.org/diffusion/GOJU/browse/master/AUTHORS.txt">OOjs UI Team
      and other contributors</a>.
    </li>
    <li>Other icons from <a href="https://materialdesignicons.com/">Material Design Icons</a>.</li>
    <li>Powered by <a href="https://getbootstrap.com/">Bootstrap</a>.</li>
    <li>Hosted on <a href="https://www.heroku.com" target="_blank">Heroku</a>.</li>
  </ul>
{% endblock %}
