{% extends 'ottm/user-page-base.html' %}
{% load ottm %}
{% load wiki %}
{% load static %}

{% block page-title %}
  <img src="{% static 'ottm/images/user_avatar.svg' %}" id="user-icon"
       alt="{% ottm_translate 'page.user_profile.picture_tooltip' username=context.target_user.username %}"
       title="{% ottm_translate 'page.user_profile.picture_tooltip' username=context.target_user.username %}">
{% endblock %}

{% block container-content %}
  <div class="text-center">
    {% if context.user|has_perm:PERM_BLOCK_USERS %}
      <a href="{% url 'ottm:user_profile' username=context.target_user.username %}?action=block"
         class="btn btn-danger">
        {% ottm_translate 'page.user_profile.action.block.label' %}
      </a>
    {% endif %}
    {% if context.user|has_perm:PERM_MASK %}
      <a href="{% url 'ottm:user_profile' username=context.target_user.username %}?action=mask_username"
         class="btn btn-danger">
        {% ottm_translate 'page.user_profile.action.mask_username.label' %}
      </a>
    {% endif %}
    {% if context.target_user.is_authenticated %}
      {% if context.user|has_perm:PERM_RENAME_USERS %}
        <a href="{% url 'ottm:user_profile' username=context.target_user.username %}?action=rename"
           class="btn btn-secondary">
          {% ottm_translate 'page.user_profile.action.rename.label' %}
        </a>
      {% endif %}
      {% if context.user|has_perm:PERM_EDIT_USER_GROUPS %}
        <a href="{% url 'ottm:user_profile' username=context.target_user.username %}?action=edit_groups"
           class="btn btn-secondary">
          {% ottm_translate 'page.user_profile.action.edit_groups.label' %}
        </a>
      {% endif %}
    {% endif %}
  </div>

  <h2>{% ottm_translate 'page.user_profile.statistics.title' %}</h2>
  <table class="table table-striped table-hover">
    <colgroup>
      <col style="width: 40%">
    </colgroup>
    <tbody>
      <tr>
        <th scope="row">{% ottm_translate 'page.user_profile.statistics.account_creation_date_label' %}</th>
        <td>{% ottm_format_date context.target_user.internal_object.date_joined %}</td>
      </tr>
      <tr>
        <th scope="row">{% ottm_translate 'page.user_profile.statistics.groups' %}</th>
        <td>{{ context.user_groups|join:', ' }}</td>
      </tr>
      <tr>
        <th scope="row">{% ottm_translate 'page.user_profile.statistics.status' %}</th>
        <td>{% ottm_user_type_icon context.target_user.username %}</td>
      </tr>
      <tr>
        <th scope="row">{% ottm_translate 'page.user_profile.statistics.notes_count_label' %}</th>
        <td>{% ottm_format_number context.target_user.notes_count %}</td>
      </tr>
      <tr>
        <th scope="row">{% ottm_translate 'page.user_profile.statistics.edits_count_label' %}</th>
        <td>{% ottm_format_number context.target_user.edits_count %}</td>
      </tr>
      <tr>
        <th scope="row">{% ottm_translate 'page.user_profile.statistics.wiki_edits_count_label' %}</th>
        <td>{% ottm_format_number context.target_user.wiki_edits_count %}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
