html, body {
  height: 100%;
}

.container h2 {
  margin-top: 50px;
}

#navbar {
  z-index: 9999;
}

#navbar li.nav-item .mdi {
  vertical-align: middle;
  font-size: 120%;
}

#navbar .nav-select {
  height: initial;
}

#page-title {
  text-align: center;
  padding: 10px 0 20px;
}

#page-title small {
  font-size: 40%;
}

#user-icon {
  width: 100px;
  height: 100px;
}

.alert p:last-child {
  margin-bottom: 0;
}

#icons-list {
  margin-bottom: 0;
}

#icons-list li {
  line-height: 30px;
  padding: 10px 0;
}

#icons-list li span, #icons-list li .mdi {
  vertical-align: middle;
}

#icons-list li .mdi {
  font-size: 200%;
  margin-right: 10px;
}

#page-header {
  margin-bottom: 2em;
}

#user-page-links {
  padding-bottom: 1em;
}

.dropdown-menu, .dropdown-menu .dropdown-item {
  cursor: pointer;
}

.form-errors-alert .form-errors {
  margin-bottom: 0;
}

form fieldset legend {
  margin-top: 1em;
}
