/*
 * Editor panel
 */

.gutter {
  background-color: #555;
}

/*
 * Map controls
 */

.maplibregl-ctrl-attrib-inner {
  color: rgb(33, 37, 41); /* Light-mode color */
}

.maplibregl-ctrl-group {
  background-color: #2b2a33 !important;
}

.maplibregl-ctrl-draw button.active,
.maplibregl-ctrl button:not(:disabled):hover {
  background-color: rgb(255 255 255 / 10%) !important;
}

.maplibregl-ctrl-group button + button {
  border-top-color: #515151 !important;
}
