#map,
#editor-panel,
.gutter {
  height: calc(100% - 61px); /* Navbar’s approximate height */
}

/*
 * Editor panel
 */

#editor-panel-title {
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  padding: 1rem;
}

/*
 * Split panes
 */

.split,
.gutter.gutter-horizontal {
  box-sizing: border-box;
  float: left;
}

.gutter {
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: row-resize;
}

/*
 * Map controls
 */

.maplibregl-ctrl button {
  /* Use global text color */
  color: inherit !important;
}

.maplibregl-ctrl-attrib-inner {
  vertical-align: top;
}

/*
 * Map editor
 */

.cursor-point {
  /*noinspection CssUnknownTarget*/
  cursor: url("/static/ottm/images/cursors/cursor-select-vertex.png"), default !important;
}

.cursor-linestring {
  /*noinspection CssUnknownTarget*/
  cursor: url("/static/ottm/images/cursors/cursor-select-line.png"), default !important;
}

.cursor-polygon {
  /*noinspection CssUnknownTarget*/
  cursor: url("/static/ottm/images/cursors/cursor-select-area.png"), default !important;
}

.cursor-draw {
  /*noinspection CssUnknownTarget*/
  cursor: url("/static/ottm/images/cursors/cursor-draw.png") 10 10, crosshair !important;
}

.cursor-grab {
  /*noinspection CssUnknownTarget*/
  cursor: url("/static/ottm/images/cursors/cursor-grab.png") 10 10, grab !important;
}

.cursor-grabbing {
  /*noinspection CssUnknownTarget*/
  cursor: url("/static/ottm/images/cursors/cursor-grabbing.png") 10 10, grabbing !important;
}

.cursor-draw-connect-vertex {
  /*noinspection CssUnknownTarget*/
  cursor: url("/static/ottm/images/cursors/cursor-draw-connect-vertex.png") 10 10, grabbing !important;
}

.cursor-draw-connect-line {
  /*noinspection CssUnknownTarget*/
  cursor: url("/static/ottm/images/cursors/cursor-draw-connect-line.png") 10 10, grabbing !important;
}
