#map,
#editor-panel,
.gutter {
  height: calc(100% - 61px); /* Navbar’s approximate height */
}

/* TODO put color-related rules in theme stylesheets */

/*
 * Editor panel
 */

#editor-panel {
  background-color: #cbcbcb;
}

#editor-panel-title {
  background-color: #dcdcdc;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  padding: 1rem;
}

/*
 * Split panes
 */

.split,
.gutter.gutter-horizontal {
  box-sizing: border-box;
  float: left;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: row-resize;
}

/*
 * Leaflet controls
 */

.leaflet-control a .mdi {
  font-size: 2em;
}

.leaflet-ctrl-geocoder {
  background-color: #fff;
}

.leaflet-ctrl-geocoder ul {
  margin-bottom: 0;
  padding: 0.5em 0;
  border-top: 1px #ccc solid;
  list-style-type: none;
  cursor: pointer;
}

.leaflet-ctrl-geocoder li {
  padding: 0 0.5em;
}

.leaflet-ctrl-geocoder li:hover {
  background-color: #f4f4f4;
}

.leaflet-ctrl-geocoder input {
  border: 0;
  background-color: #fff;
}

.leaflet-ctrl-geocoder input:focus {
  outline: none;
  background-color: #f4f4f4;
}

.leaflet-ctrl-geocoder .search-button,
.leaflet-ctrl-geocoder .clear-button-container {
  font-size: 1.5em;
}

.leaflet-ctrl-geocoder button {
  background-color: #fff;
  border: 0;
}

.leaflet-ctrl-geocoder button:hover {
  background-color: #f4f4f4;
}

.leaflet-ctrl-geocoder .search-button {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-right: 1px #ccc solid;
}

.leaflet-ctrl-geocoder .clear-button-container button {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left: 1px #ccc solid;
}

/*
 * Custom center position for map controls.
 * From https://stackoverflow.com/a/60391674/3779986
 */

.leaflet-center {
  left: 50%;
  transform: translate(-50%, 0%);
}

.leaflet-center .leaflet-control {
  float: none;
  display: inline-block;
}

.leaflet-center .leaflet-control:not(:first-child) {
  margin-left: 10px;
}

/*
 * Geometry selection
 */

.marker-snapped {
  animation: 1s infinite alternate ease-in-out border-blink-snap;
}

.layer-selected {
  animation: 1s infinite alternate ease-in-out border-blink-selection;
}

@keyframes border-blink-snap {
  from {
    filter: drop-shadow(2px 2px 0 #ffe251ff) drop-shadow(-2px -2px 0 #ffe251ff) drop-shadow(2px -2px 0 #ffe251ff) drop-shadow(-2px 2px 0 #ffe251ff);
  }

  to {
    filter: drop-shadow(2px 2px 0 #ffe25100) drop-shadow(-2px -2px 0 #ffe25100) drop-shadow(2px -2px 0 #ffe25100) drop-shadow(-2px 2px 0 #ffe25100);
  }
}

@keyframes border-blink-selection {
  from {
    filter: drop-shadow(2px 2px 0 #ff5151ff) drop-shadow(-2px -2px 0 #ff5151ff) drop-shadow(2px -2px 0 #ff5151ff) drop-shadow(-2px 2px 0 #ff5151ff);
  }

  to {
    filter: drop-shadow(2px 2px 0 #ff515100) drop-shadow(-2px -2px 0 #ff515100) drop-shadow(2px -2px 0 #ff515100) drop-shadow(-2px 2px 0 #ff515100);
  }
}
