#map,
#editor-panel,
.gutter {
  height: calc(100% - 61px); /* Navbar’s approximate height */
}

/*
 * Editor panel
 */

#editor-panel-title {
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  padding: 1rem;
}

/*
 * Split panes
 */

.split,
.gutter.gutter-horizontal {
  box-sizing: border-box;
  float: left;
}

.gutter {
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: row-resize;
}

/*
 * Map controls
 */

.maplibregl-ctrl button {
  /* Use global text color */
  color: inherit !important;
}

.mapbox-gl-draw_ctrl-draw-btn {
  /* Remove default background images from mapbox-draw buttons, we replace them by script */
  background-image: none !important;
}

/*
 * Geometry selection
 */

.marker-snapped {
  animation: 1s infinite alternate ease-in-out border-blink-snap;
}

.layer-selected {
  animation: 1s infinite alternate ease-in-out border-blink-selection;
}

@keyframes border-blink-snap {
  from {
    filter: drop-shadow(2px 2px 0 #ffe251ff) drop-shadow(-2px -2px 0 #ffe251ff) drop-shadow(2px -2px 0 #ffe251ff) drop-shadow(-2px 2px 0 #ffe251ff);
  }

  to {
    filter: drop-shadow(2px 2px 0 #ffe25100) drop-shadow(-2px -2px 0 #ffe25100) drop-shadow(2px -2px 0 #ffe25100) drop-shadow(-2px 2px 0 #ffe25100);
  }
}

@keyframes border-blink-selection {
  from {
    filter: drop-shadow(2px 2px 0 #ff5151ff) drop-shadow(-2px -2px 0 #ff5151ff) drop-shadow(2px -2px 0 #ff5151ff) drop-shadow(-2px 2px 0 #ff5151ff);
  }

  to {
    filter: drop-shadow(2px 2px 0 #ff515100) drop-shadow(-2px -2px 0 #ff515100) drop-shadow(2px -2px 0 #ff515100) drop-shadow(-2px 2px 0 #ff515100);
  }
}
