{% load wiki %}

{% if context.done %}
  <div class="alert alert-success" role="alert">
    {% wiki_translate 'special_page.ChangePageContentType.done' %}
  </div>
{% endif %}
{% include 'ottm/include/form.html' with form=context.form prefix='wiki.special_page.ChangePageContentType.' %}
{% if context.log_entries.count %}
  {% wiki_translate 'special_page.ChangePageContentType.log_entries' %}
  <ul>
    {% for log_entry in context.log_entries %}
      <li>{% wiki_format_log_entry log_entry %}</li>
    {% endfor %}
  </ul>
{% endif %}