{% load wiki %}
{% load ottm %}

<div class="row justify-content-center">
  <div class="col-6">
    <div class="accordion" id="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="false" aria-controls="collapseOne">
            {% ottm_translate 'wiki.special_page.Contributions.form_spoiler.label' %}
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordion">
          <div class="accordion-body">
            {% include 'ottm/include/form.html' with form=context.form prefix='wiki.special_page.Contributions.' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% if context.target_user %}
  {% wiki_revisions_list context.contributions mode='contributions' %}
{% endif %}