{% load wiki %}
{% load ottm %}

{% if context.done %}
  <div class="alert alert-success" role="alert">
    {% ottm_translate 'wiki.special_page.EditFollowList.done' %}
  </div>
{% endif %}
<div class="row justify-content-center">
  <div class="col-6">
    <p>
      {% if context.form.name == 'edit_raw' %}
        {% ottm_translate 'wiki.special_page.EditFollowList.form.edit_raw.normal_text' as text %}
        {% wiki_inner_link page_title='Special:EditFollowList' text=text as url %}
        {% ottm_translate 'wiki.special_page.EditFollowList.form.edit_raw.message' edit_url=url %}
      {% elif context.form.name == 'edit' %}
        {% ottm_translate 'wiki.special_page.EditFollowList.form.edit.raw_text' as text %}
        {% wiki_inner_link page_title='Special:EditFollowList/raw' text=text as raw_url %}
        {% ottm_translate 'wiki.special_page.EditFollowList.form.edit.clear_text' as text %}
        {% wiki_inner_link page_title='Special:EditFollowList/clear' text=text as clear_url %}
        {% ottm_translate 'wiki.special_page.EditFollowList.form.edit.message' edit_raw_url=raw_url clear_url=clear_url %}
      {% elif context.form.name == 'clear' %}
        {% ottm_translate 'wiki.special_page.EditFollowList.form.clear.normal_text' as text %}
        {% wiki_inner_link page_title='Special:EditFollowList' text=text as edit_url %}
        {% ottm_translate 'wiki.special_page.EditFollowList.form.clear.raw_text' as text %}
        {% wiki_inner_link page_title='Special:EditFollowList/raw' text=text as raw_url %}
        {% ottm_translate 'wiki.special_page.EditFollowList.form.clear.message' edit_url=edit_url raw_url=raw_url %}
      {% endif %}
    </p>
    {% include 'ottm/include/form.html' with form=context.form prefix='wiki.special_page.EditFollowList.' %}
  </div>
</div>