{# Parameters: form: ottm.forms.CustomForm, prefix: str #}
{% load ottm %}

{% with trans_prefix=prefix|add:'form.' %}
  {% if context.global_errors %}
    <div class="alert alert-danger form-errors-alert" role="alert">
      {% ottm_translate 'form.global_error.title' %}
      <ul class="form-errors">
        {% for error in context.global_errors %}
          <li>{% ottm_translate trans_prefix|add:'error.'|add:error %}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <form method="post" id="{{ form.name }}">
    {% csrf_token %}
    {% for field in form %}
      {% with trans_field_prefix=trans_prefix|add:field.label|add:'.' %}
        <div class="form-group" id="form-{{ field.label }}">
          <label for="{{ field.id_for_label }}">{% ottm_translate trans_field_prefix|add:'label' %}</label>
          {{ field }}
          {% if field.help_text %}
            <small class="form-text text-muted">{% ottm_translate trans_field_prefix|add:'help' %}</small>
          {% endif %}
          {% if field.errors %}
            <div class="invalid-feedback" style="display: block">
              {% for error in field.errors.as_data %}
                {% ottm_translate trans_field_prefix|add:'error.'|add:error.code %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endwith %}
    {% endfor %}
    <div class="text-center">
      <input type="submit" class="btn btn-primary" value="{% ottm_translate trans_prefix|add:'submit.label' %}">
    </div>
  </form>
{% endwith %}
