{# Parameters: form: ottm.forms.CustomForm, prefix: str #}
{% load ottm %}
{% load utils %}

{% with trans_prefix=prefix|add:'form.'|add:form.name|add:'.' %}
  {% if context.global_errors and context.global_errors|get_item:form.name %}
    <div class="alert alert-danger form-errors-alert" role="alert">
      {% ottm_translate 'form.global_error.title' %}
      <ul class="form-errors">
        {% for error in context.global_errors|get_item:form.name %}
          <li>{% ottm_translate trans_prefix|add:'error.'|add:error %}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if not form.sections|length == 1 %}
    <ul class="nav nav-tabs" role="tablist">
      {% for section_name, fields in form.sections.items %}
        <li class="nav-item" role="presentation">
          <button id="form-tab-{{ section_name|replace:'_,-' }}" class="nav-link" data-toggle="tab"
                  data-target="#form-panel-{{ section_name|replace:'_,-' }}" type="button" role="tab"
                  aria-controls="form-panel-{{ section_name|replace:'_,-' }}" aria-selected="false">
            {% ottm_translate trans_prefix|add:'tab.'|add:section_name %}
          </button>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <form method="post" id="{{ form.name|replace:'_,-' }}" class="tab-content" style="margin-bottom: 1em">
    {% csrf_token %}
    <input type="hidden" name="form-name" value="{{ form.name }}">
    {% if form.warn_unsaved_changes and context.user.warn_when_wiki_edit_not_published %}
      <input type="hidden" name="warn-unsaved">
    {% endif %}
    {# @formatter:off #}
    {% for section_name, fieldsets in form.sections.items %}
      {% if section_name %}
        <div id="form-panel-{{ section_name|replace:'_,-' }}" class="tab-pane" role="tabpanel"
             aria-labelledby="form-tab-{{ section_name|replace:'_,-' }}">
      {% endif %}
      {% for fieldset_name, fieldset in fieldsets.items %}
        {% if fieldset_name %}
          <fieldset>
            <legend>{% ottm_translate trans_prefix|add:'fieldset.'|add:fieldset_name %}</legend>
        {% endif %}
        {% for field in fieldset %}
          {% with trans_field_prefix=trans_prefix|add:field.label|add:'.' %}
            <div class="form-group">
              {% if field.field.widget.input_type == 'checkbox' and field|length == 1 %}{# If only one checkbox #}
                <div class="custom-control custom-checkbox">
                  {{ field }}
                  <label for="{{ field.id_for_label }}" class="custom-control-label">
                    {% ottm_translate trans_field_prefix|add:'label' gender=form.fields_genders|get_item:field.label %}
                  </label>
                </div>
              {% elif field.field.widget.input_type == 'checkbox' or field.field.widget.input_type == 'radio' %}
                <label>{% ottm_translate trans_field_prefix|add:'label' gender=form.fields_genders|get_item:field.label %}</label>
                {% for f in field %}
                  <div class="custom-control custom-{% if field.field.widget.input_type == 'radio' %}radio{% else %}checkbox{% endif %}">
                    {{ f.tag }}
                    <label for="{{ f.id_for_label }}" class="custom-control-label">
                      {% if field.field.widget.attrs.no_translate %}
                        {{ f.choice_label }}
                      {% else %}
                        {% ottm_translate trans_field_prefix|add:f.choice_label|add:'.label' gender=form.fields_genders|get_item:field.label %}
                      {% endif %}
                    </label>
                  </div>
                {% endfor %}
              {% else %}
                <label for="{{ field.id_for_label }}">{% ottm_translate trans_field_prefix|add:'label' gender=form.fields_genders|get_item:field.label %}</label>
                {{ field }}
              {% endif %}
              {% if field.help_text %}
                <small class="form-text text-muted">{% ottm_translate trans_field_prefix|add:'help' %}</small>
              {% endif %}
              {% if field.errors %}
                <div class="invalid-feedback" style="display: block">
                  {% for error in field.errors.as_data %}
                    {% ottm_translate trans_field_prefix|add:'error.'|add:error.code %}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          {% endwith %}
        {% endfor %}
        {% if fieldset_name %}
          </fieldset>
        {% endif %}
      {% endfor %}
      {% if section_name %}
        </div>
      {% endif %}
    {% endfor %}
    {# @formatter:on #}
    <div class="text-center">
      <input type="submit" class="btn btn-{% if form.danger %}danger{% else %}primary{% endif %}"
             value="{% ottm_translate trans_prefix|add:'submit.label' gender=form.fields_genders|get_item:'submit' %}">
    </div>
  </form>
{% endwith %}
