#wiki-article-title, #wiki-footer {
  border-color: #888;
}

#wiki-page-menu a.page-menu-item.selected {
  border-color: #4646ff;
}

#wiki-page-menu a.page-menu-item:hover:not(.selected) {
  border-color: #888;
}
