#wiki-article-title, #wiki-footer {
  border-color: #9d9d9d;
}

#wiki-page-menu a.page-menu-item.selected {
  border-color: #4646ff;
}

#wiki-page-menu a.page-menu-item:hover:not(.selected) {
  border-color: #9d9d9d;
}

#wiki-footer {
  background-color: #a9a9a9;
}

pre {
  border-color: #9d9d9d;
}
