#wiki-page-content {
  margin: 1em;
}

#wiki-left-col {
  padding-left: 0;
}

#wiki-right-col {
  padding-right: 0;
}

#wiki-article-title {
  border-bottom-width: 5px;
  border-bottom-style: solid;
}

#wiki-page-menu {
  padding-bottom: 0.5em;
}

#wiki-page-menu a.page-menu-item {
  text-align: center;
  cursor: pointer;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

#wiki-page-menu a.page-menu-item:not(.selected) {
  border-color: rgba(0, 0, 0, 0);
}

#wiki-page-menu a.page-menu-item:hover {
  text-decoration: none;
}

#wiki-footer {
  font-size: 0.8em;
  border-top-width: 5px;
  border-top-style: solid;
}

#wiki-footer .django-link {
  float: right;
}

#wiki-footer .django-link img.django-logo {
  height: 1.5em;
}

#wiki-edit-form {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.wiki-diff-badge {
  font-size: 1em;
  font-weight: normal;
}

.wiki-diff-badge.wiki-diff-important-var {
  font-weight: bold;
}

.wiki-hidden {
  text-decoration: line-through;
  font-style: italic;
}

.wiki-revision-action {
  font-size: 1.2em;
}

h2 {
  margin-top: 1rem;
}

pre {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  padding: 0.5em;
}
