{% load static %}
{% load utils %}
{% load wiki %}
{% load ottm %}

{% if context.can_user_edit %}
  {% if not context.page_exists %}
    <div class="wiki-edit-new-page-notice">
      <div id="wiki-edit-new-page-notice-{{ context.page.namespace_id }}" class="alert alert-primary" role="alert">
        {{ context.new_page_notice|safe }}
      </div>
    </div>
  {% endif %}

  <div id="wiki-edit-notice">
    <div id="wiki-edit-notice-{{ context.page.namespace_id }}" class="alert alert-secondary" role="alert">
      {% if context.edit_notice %}
        {{ context.edit_notice|safe }}
      {% endif %}
    </div>
  </div>

  {% if context.page.namespace == NS_INTERFACE %}
    <div id="wiki-edit-interface-warning-box" class="alert alert-warning" role="alert">
      {% wiki_translate 'form.edit.interface_warning' %}
    </div>
  {% endif %}
{% endif %}

{% if context.archived %}
  <div id="wiki-edit-diff-warning-box" class="alert alert-warning center" role="alert">
    {% ottm_format_date context.revision.date as date %}
    {% wiki_inner_link page_title=context.page.full_title text=date url_params='revid='|concat:context.revision.id as date %}
    {% if context.can_user_edit %}
      {% wiki_translate 'page.edit.revision_warning.edit' date=date %}
    {% else %}
      {% wiki_translate 'page.edit.revision_warning.view' date=date %}
    {% endif %}
  </div>
{% endif %}

{% if context.permission_error %}
  <div id="wiki-edit-interface-permission-error-box" class="alert alert-danger" role="alert">
    {% wiki_translate 'page.edit.permission_error' %}
  </div>
{% elif context.concurrent_edit_error %}
  <div id="wiki-edit-interface-concurrent-edit-error-box" class="alert alert-danger" role="alert">
    {% wiki_translate 'page.edit.concurrent_edit_error' %}
  </div>
{% endif %}

{% with edit_protection=context.page.get_edit_protection %}{# Cached to avoid making several DB requests #}
  {% if edit_protection %}
    <div class="wiki-edit-interface-warning-box alert alert-warning" role="alert">
      <p class="center">
        {% wiki_translate 'page.edit.protection_warning' group_name=edit_protection.protection_level.label reason=edit_protection.reason|default_if_none:'-' %}
      </p>
      {% wiki_translate 'page.edit.log_entry' %}<br>
      {% wiki_format_log_entry context.edit_protection_log_entry %}
    </div>
  {% endif %}
{% endwith %}

{% with form=context.edit_form trans_prefix='page.edit.form.' %}
  <form action="{% url 'ottm:wiki_page' raw_page_title=context.page.full_title|wiki_url_escape %}?action=submit"
        method="post" id="wiki-edit-form">
    {% if form.warn_unsaved_changes %}
      <input type="hidden" name="warn-unsaved" value="1">
    {% endif %}

    <div class="form-group">
      <label class="sr-only" for="{{ form.content.id_for_label }}">
        {% wiki_translate trans_prefix|add:'content.label' %}
      </label>
      <div class="wiki-ace-editor" id="{{ form.content.id_for_label }}-ace"
           data-ace-target="{{ form.content.id_for_label }}"
           data-content-type="{{ context.page.content_type }}"
           {% if not context.can_user_edit %}data-disabled="1"{% endif %}></div>
      {{ form.content }}
    </div>

    {% if context.can_user_edit %}
      <div class="form-group" title="{% wiki_translate trans_prefix|add:'comment.tooltip' %}">
        <label for="{{ form.comment.id_for_label }}">
          {% wiki_translate trans_prefix|add:'comment.label' %}
        </label>
        {{ form.comment }}
      </div>

      <div class="form-group text-center">
        <div class="custom-control custom-checkbox custom-control-inline"
             title="{% wiki_translate trans_prefix|add:'minor_edit.tooltip' %}">
          {{ form.minor_edit }}
          <label for="{{ form.minor_edit.id_for_label }}" class="custom-control-label">
            {% wiki_translate trans_prefix|add:'minor_edit.label' %}
          </label>
        </div>

        {% if not context.user.is_anonymous %}
          <div class="custom-control custom-checkbox custom-control-inline"
               title="{% wiki_translate trans_prefix|add:'follow_page.tooltip' %}">
            {{ form.follow_page }}
            <label for="{{ form.follow_page.id_for_label }}" class="custom-control-label">
              {% wiki_translate trans_prefix|add:'follow_page.label' %}
            </label>
          </div>
        {% endif %}

        {% if context.page.namespace == NS_CATEGORY %}
          <div class="custom-control custom-checkbox custom-control-inline"
               title="{% wiki_translate trans_prefix|add:'hidden_category.tooltip' %}">
            {{ form.hidden_category }}
            <label for="{{ form.hidden_category.id_for_label }}" class="custom-control-label">
              {% wiki_translate trans_prefix|add:'hidden_category.label' %}
            </label>
          </div>
        {% endif %}
      </div>

      <div class="text-center">
        <input id="wiki-edit-form-submit-btn" type="submit" accesskey="s"
               value="{% wiki_translate trans_prefix|add:'submit.label' %}"
               title="{% wiki_translate trans_prefix|add:'submit.tooltip' %}" class="btn btn-primary"/>
        <button id="wiki-edit-form-preview-btn" type="button" accesskey="p"
                title="{% wiki_translate trans_prefix|add:'preview.tooltip' %}"
                class="btn btn-secondary">{% wiki_translate trans_prefix|add:'preview.label' %}</button>
        <button id="wiki-edit-form-diff-btn" type="button" accesskey="w"
                title="{% wiki_translate trans_prefix|add:'diff.tooltip' %}"
                class="btn btn-secondary">{% wiki_translate trans_prefix|add:'diff.label' %}</button>
        <button id="wiki-edit-form-cancel-btn" type="button"
                title="{% wiki_translate trans_prefix|add:'cancel.tooltip' %}"
                class="btn btn-outline-danger">{% wiki_translate trans_prefix|add:'cancel.label' %}</button>
      </div>

      {{ form.section_id }}
      {% csrf_token %}
    {% endif %}
  </form>
{% endwith %}
