{% extends 'ottm/base.html' %}
{% load static %}
{% load ottm %}
{% load wiki %}

{% block styles %}
  {% if context.page.namespace == NS_SPECIAL and context.has_custom_css %}
    {# Using "with" to avoid warning #}
    {% with path='ottm/wiki/special_pages/'|add:context.page.base_name|add:'/style.min.css' %}
      <link href="{% static path %}" rel="stylesheet">
    {% endwith %}
  {% endif %}
  {% wiki_static 'Interface:Common.css' %}
  {% if context.user.is_authenticated %}
    {% wiki_static 'User:'|add:context.user.username|add:'/Common.css' %}
    {% if context.dark_mode %}
      {% wiki_static 'User:'|add:context.user.username|add:'/Common-dark.css' %}
    {% else %}
      {% wiki_static 'User:'|add:context.user.username|add:'/Common-light.css' %}
    {% endif %}
  {% endif %}

  {% block head %}{% endblock %}
{% endblock %}

{% block navbar-center %}
  <form id="wiki-navbar-search-form" class="d-flex" method="get"
        action="{% wiki_inner_link page_title='Special:Search' ignore_current_title=True only_url=True %}">
    <div class="input-group">
      {% ottm_translate 'wiki.navbar.search.input.placeholder' as placeholder %}
      <input type="search" id="wiki-navbar-search-input" class="form-control" name="query"
             placeholder="{{ placeholder }}" aria-label="{{ placeholder }}" aria-describedby="wiki-navbar-search-button"
             accesskey="f">
      <button class="btn btn-outline-light" type="submit" id="wiki-navbar-search-button"
              title="{% ottm_translate 'wiki.navbar.search.button.tooltip' %}">
        <span class="mdi mdi-magnify"></span> {% ottm_translate 'wiki.navbar.search.button.label' %}
      </button>
    </div>
    <input type="hidden" name="search_bar" value="1"/>
  </form>
{% endblock %}

{% block page-content %}
  <div aria-live="polite" aria-atomic="true">
    <div id="wiki-toasts-area"></div>
  </div>

  <div id="wiki-page-content" class="row">
    <div id="wiki-left-col" class="col-2">
      {# TODO put in burger menu on mobile (≤ 800px) #}
      <nav id="wiki-nav-bar-left">
        <div id="wiki-nav-bar-logo" class="card mb-3">
          <div class="card-header">{% ottm_translate 'wiki.name' %}</div>
          <div class="card-body">
            <a href="{% url 'ottm:wiki_main_page' %}" title="{% ottm_translate 'wiki.menu.side.logo.tooltip' %}">
              <img class="card-img-top" src="{% static 'ottm/images/icons/wiki_icon.svg' %}" alt="OTTM Wiki Logo">
            </a>
          </div>
        </div>
        {% wiki_side_menu 'main' %}
        {% wiki_side_menu 'wiki_tools' %}
        {% wiki_side_menu 'page_tools' %}
        {% wiki_side_menu 'more' %}
        {% wiki_side_menu 'categories' %}
      </nav>
    </div>

    <main id="wiki-article" class="card card-body col-8" lang="{{ context.page.content_language.code }}">
      {% if context.show_title %}
        <h1 id="wiki-article-title" {% block title_attr %}{% endblock %}>
          {% if context.invalid_title %}
            {% if context.empty_title %}
              {% ottm_translate 'wiki.special_page.empty_title.title' %}
            {% else %}
              {% ottm_translate 'wiki.special_page.invalid_title.title' %}
            {% endif %}
          {% elif context.page.namespace == NS_SPECIAL %}
            {% if context.page_exists %}
              {% if context.forbidden %}
                {% ottm_translate 'wiki.special_page.forbidden.title' %}
              {% else %}
                {% ottm_translate 'wiki.special_page.'|add:context.page.base_name|add:'.'|add:context.title_key value=context.title_value gender=context.title_gender %}
              {% endif %}
            {% else %}
              {% ottm_translate 'wiki.special_page.does_not_exist.title' %}
            {% endif %}
          {% elif context.action == ACTION_READ %}
            {{ context.page.full_title }}
            {% if context.page.is_category_hidden %}
              <span id="wiki-maintenance-category-icon" class="mdi mdi-tools"
                    title="{% ottm_translate 'wiki.title.maintenance_category.tooltip' %}"></span>
            {% endif %}
            {% if context.page.namespace == NS_USER %}
              <span class="float-right">{% ottm_user_type_icon context.page.base_name %}</span>
            {% endif %}
          {% elif context.action == ACTION_TALK %}
            {% ottm_translate 'wiki.page.title.talk' page_title=context.page.full_title %}
          {% elif context.action == ACTION_EDIT or context.action == ACTION_SUBMIT %}
            {% if context.page_exists %}
              {% if context.can_user_edit %}
                {% ottm_translate 'wiki.page.title.edit' page_title=context.page.full_title %}
              {% else %}
                {% ottm_translate 'wiki.page.title.source' page_title=context.page.full_title %}
              {% endif %}
            {% else %}
              {% ottm_translate 'wiki.page.title.create' page_title=context.page.full_title %}
            {% endif %}
          {% elif context.action == ACTION_HISTORY %}
            {% ottm_translate 'wiki.page.title.history' page_title=context.page.full_title %}
          {% elif context.action == ACTION_INFO %}
            {% ottm_translate 'wiki.page.title.info' page_title=context.page.full_title %}
          {% endif %}
        </h1>
      {% endif %}
      {% if context.page.namespace != NS_SPECIAL %}
        <div id="wiki-page-menu" class="row" style="padding-left: 15px; padding-right: 15px">
          {% wiki_page_menu_item ACTION_READ %}
          {% wiki_page_menu_item ACTION_TALK %}
          <div class="col"></div>
          {% wiki_page_menu_item ACTION_EDIT %}
          {% wiki_page_menu_item ACTION_HISTORY %}
        </div>
      {% endif %}

      {% if context.parent_pages %}
        <nav id="wiki-parent-pages-info" aria-label="breadcrumb">
          <ol class="breadcrumb">
            {% for parent_page in context.parent_pages %}
              <li class="breadcrumb-item">
                {% if forloop.counter == 1 %}<span class="mdi mdi-chevron-up"></span>{% endif %}
                {% wiki_inner_link page_title=parent_page.0 text=parent_page.1 %}
              </li>
            {% endfor %}
          </ol>
        </nav>
      {% endif %}

      {% if context.is_redirection or context.redirected_from %}
        <div id="wiki-redirect-info" class="text-muted">
          {% if context.is_redirection %}
            {% ottm_translate 'wiki.redirection_info.is_redirection' %}
            {% if context.redirected_from %}<br>{% endif %}
          {% endif %}
          {% if context.redirected_from %}
            {% wiki_inner_link page_title=context.redirected_from url_params='no_redirect=1' as link %}
            {% ottm_translate 'wiki.redirection_info.redirected_from' link=link %}
          {% endif %}
        </div>
      {% endif %}

      <article id="wiki-article-content" lang="{{ context.page.content_language.code }}">
        {% if context.page.namespace == NS_SPECIAL %}
          {% if context.invalid_title %}
            <div class="alert alert-danger" role="alert">
              {% wiki_inner_link page_title=MAIN_PAGE_TITLE only_url=True as link %}
              {% if context.empty_title %}
                {% ottm_translate 'wiki.special_page.empty_title.message' main_page_url=link %}
              {% else %}
                {% ottm_translate 'wiki.special_page.invalid_title.message' main_page_url=link char=context.char %}
              {% endif %}
            </div>
          {% elif not context.page_exists %}
            <div class="alert alert-danger" role="alert">
              {% wiki_inner_link page_title='Special:SpecialPages' only_url=True as sp_link %}
              {% wiki_inner_link page_title=MAIN_PAGE_TITLE only_url=True as link %}
              {% ottm_translate 'wiki.special_page.does_not_exist.message' special_pages_link=sp_link main_page_url=link %}
            </div>
          {% elif context.can_user_read %}
            {# Using "with" to avoid warning #}
            {% with path='ottm/wiki/special_pages/'|add:context.page.base_name|add:'.html' %}
              {% include path %}
            {% endwith %}
          {% else %}
            <div class="alert alert-danger" role="alert">
              {% wiki_inner_link page_title=MAIN_PAGE_TITLE only_url=True as link %}
              {% ottm_translate 'wiki.special_page.forbidden.message' perms=context.required_perms|join:', ' main_page_url=link %}
            </div>
          {% endif %}
        {% elif context.action == ACTION_READ %}
          {% include 'ottm/wiki/read-component.html' %}
        {% elif context.action == ACTION_TALK %}
          {% include 'ottm/wiki/talk-component.html' %}
        {% elif context.action == ACTION_EDIT or context.action == ACTION_SUBMIT %}
          {% include 'ottm/wiki/editor-component.html' %}
        {% elif context.action == ACTION_HISTORY %}
          {% include 'ottm/wiki/history-component.html' %}
        {% elif context.action == ACTION_INFO %}
          {% include 'ottm/wiki/info-component.html' %}
        {% endif %}
      </article>
    </main>
  </div>

  {% block post-content %}{% endblock %}

  <footer id="wiki-footer" class="py-4">
    <div class="container-fluid">
      <p class="django-link">
        Powered by
        <a href="https://www.djangoproject.com/" target="_blank">
          <img class="django-logo"
               src="https://static.djangoproject.com/img/logo-django.42234b631760.svg"
               alt="Django logo">
        </a>
      </p>
      {% if context.page.last_revision_date %}
        {% ottm_format_date context.page.last_revision_date as last_revision_date %}
        <p>{% ottm_translate 'wiki.footer.last_edit' date=last_revision_date %}</p>
      {% endif %}
      <p>{% ottm_translate 'wiki.footer.license' %}</p>
    </div>
  </footer>
{% endblock %}

{% block post-global-script %}
  {{ block.super }}
  {% if context.page.namespace == NS_SPECIAL and context.has_custom_js %}
    {# Using "with" to avoid warning #}
    {% with path='ottm/wiki/special_pages/'|add:context.page.base_name|add:'/script.min.js' %}
      <script src="{% static path %}"></script>
    {% endwith %}
  {% endif %}

  {% wiki_static 'Interface:Common.js' %}
  {% wiki_static 'gadgets' %}
  {% if context.user.is_authenticated %}
    {% wiki_static 'User:'|add:context.user.username|add:'/Common.js' %}
    {% if context.dark_mode %}
      {% wiki_static 'User:'|add:context.user.username|add:'/Common-dark.js' %}
    {% else %}
      {% wiki_static 'User:'|add:context.user.username|add:'/Common-light.js' %}
    {% endif %}
  {% endif %}

  {% if context.page_cache_metadata %}
    <!--
    Parser report:
    Cached date: {{ context.page_cache_metadata.parse_date.isoformat }}
    Cache expiry date: {% if context.page_cache_metadata.cache_expiry_date %}{{ context.page_cache_metadata.cache_expiry_date.isoformat }}{% else %}N/A{% endif %}
    Cached revision ID: {{ context.page_cache_metadata.cached_parsed_revision_id|default_if_none:'N/A' }}
    Render time: {{ context.page_cache_metadata.parse_duration }} ms
    Size before expansion: {{ context.page_cache_metadata.size_before }} byte(s)
    Size after expansion: {{ context.page_cache_metadata.size_after }} byte(s)
    -->
  {% endif %}
{% endblock %}
