{% load ottm %}
{% load wiki %}

{% if context.archived %}
  <div id="wiki-revision-navbox" class="alert alert-info text-center" role="alert">
    <div id="wiki-revision-navbox-message">
      {% ottm_format_date context.revision.date as revision_date %}
      {% wiki_revision_author context.revision as user_link %}
      {% wiki_translate 'page.read.revision_nav_box.label' user_link=user_link date=revision_date %}
    </div>
    {% if context.revision.comment %}
      {% wiki_revision_comment context.revision %}
    {% endif %}
    <nav id="wiki-revision-navbox-diff-nav">
      {% wiki_diff_link context.revision against='previous' %}
      | {% wiki_diff_link context.revision against='current' %}
      | {% wiki_diff_link context.revision against='next' %}
    </nav>
  </div>
{% endif %}

{% if not context.page_exists %}
  <div id="wiki-no-page-notice">
    <div id="wiki-no-page-notice-{{ context.page.namespace_id }}" class="alert alert-warning" role="alert">
      {{ context.no_page_notice }}
    </div>
  </div>
{% endif %}

{% if context.page_content %}
  {% if context.page.content_type == CT_WIKIPAGE %}
    {{ context.page_content }}
  {% else %}
    <pre class="hljs language-{{ context.page_language }}">{{ context.page_content }}</pre>
  {% endif %}
{% endif %}

{% if context.page.namespace == NS_CATEGORY %}
  {% if context.cat_subcategories %}
    <h2>{% wiki_translate 'category.subcategories.title' %}</h2>
    {% wiki_page_list context.cat_subcategories paginate=False %}
  {% endif %}
  {% if context.cat_pages.count != 0 %}
    <h2>{% wiki_translate 'category.pages.title' category_name=context.page.title %}</h2>
    {% wiki_page_list context.cat_pages %}
  {% else %}
    <p class="wiki-empty-category-message">{% wiki_translate 'category.empty' %}</p>
  {% endif %}
{% endif %}
