{% load wiki %}

{% with edit_protection=context.edit_protection_log_entry %}{# Cached to avoid making several DB requests #}
  {% if edit_protection %}
    <div class="wiki-edit-interface-warning-box alert alert-warning" role="alert">
      <p class="text-center">
        {% wiki_translate 'page.edit.protection_warning' group_name=edit_protection.protection_level.label reason=edit_protection.reason|default_if_none:'-' %}
      </p>
      {% wiki_translate 'page.edit.log_entry' %}<br>
      {% wiki_format_log_entry edit_protection %}
    </div>
  {% endif %}
{% endwith %}

{% if context.topics.count %}
  {% wiki_render_topics context.topics %}
{% else %}
  <div id="wiki-talk-no-results" class="alert alert-secondary text-center" role="alert">
    {% wiki_translate 'page.talk.no_talks' %}
  </div>
{% endif %}
