html,
body {
  height: 100%;
}

#map,
#editor-panel,
.gutter {
  height: calc(100% - 62px); /* Navbar’s approximate height */
}

/*
 * Editor panel
 */

#editor-panel-title {
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  padding: 1rem;
}

/*
 * Split panes
 */

.split,
.gutter.gutter-horizontal {
  box-sizing: border-box;
  float: left;
}

.gutter {
  background-repeat: no-repeat;
  background-position: 50%;
}

html[data-bs-theme="light"] .gutter {
  background-color: #eee;
}

html[data-bs-theme="dark"] .gutter {
  background-color: #555;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: row-resize;
}

/*
 * Map controls
 */

.maplibregl-ctrl button {
  /* Use global text color */
  color: inherit !important;
}

.maplibregl-ctrl-attrib-inner {
  vertical-align: top;
}

html[data-bs-theme="dark"] .maplibregl-ctrl-attrib-inner {
  color: rgb(33, 37, 41); /* Light-mode color */
}

.maplibregl-ctrl button.maplibregl-ctrl-geolocate .maplibregl-ctrl-icon {
  /* Remove default icon as we use a custom one. */
  background-image: none;
}

/*
 * Map editor
 */

.cursor-point {
  /*noinspection CssUnknownTarget*/
  cursor: url("/static/ottm/images/cursors/cursor-select-vertex.png"), default !important;
}

.cursor-linestring {
  /*noinspection CssUnknownTarget*/
  cursor: url("/static/ottm/images/cursors/cursor-select-line.png"), default !important;
}

.cursor-polygon {
  /*noinspection CssUnknownTarget*/
  cursor: url("/static/ottm/images/cursors/cursor-select-area.png"), default !important;
}

.cursor-draw {
  /*noinspection CssUnknownTarget*/
  cursor: url("/static/ottm/images/cursors/cursor-draw.png") 10 10, crosshair !important;
}

.cursor-grab {
  /*noinspection CssUnknownTarget*/
  cursor: url("/static/ottm/images/cursors/cursor-grab.png") 10 10, grab !important;
}

.cursor-grabbing {
  /*noinspection CssUnknownTarget*/
  cursor: url("/static/ottm/images/cursors/cursor-grabbing.png") 10 10, grabbing !important;
}

.cursor-draw-connect-vertex {
  /*noinspection CssUnknownTarget*/
  cursor: url("/static/ottm/images/cursors/cursor-draw-connect-vertex.png") 10 10, grabbing !important;
}

.cursor-draw-connect-line {
  /*noinspection CssUnknownTarget*/
  cursor: url("/static/ottm/images/cursors/cursor-draw-connect-line.png") 10 10, grabbing !important;
}

/*
 * Context menu
 */

html[data-bs-theme="dark"] .map-editor-context-menu > .maplibregl-popup-content {
  background-color: transparent !important;
}

html[data-bs-theme="dark"] .map-editor-context-menu.maplibregl-popup-anchor-top > .maplibregl-popup-tip {
  border-bottom-color: #2b2a33 !important;
}

html[data-bs-theme="dark"] .map-editor-context-menu.maplibregl-popup-anchor-bottom > .maplibregl-popup-tip {
  border-top-color: #2b2a33 !important;
}

html[data-bs-theme="dark"] .map-editor-context-menu.maplibregl-popup-anchor-left > .maplibregl-popup-tip {
  border-right-color: #2b2a33 !important;
}

html[data-bs-theme="dark"] .map-editor-context-menu.maplibregl-popup-anchor-right > .maplibregl-popup-tip {
  border-left-color: #2b2a33 !important;
}

/*
 * Map controls
 */

/** Dark mode **/

html[data-bs-theme="dark"] .maplibregl-ctrl-group {
  background-color: #2b2a33 !important;
}

html[data-bs-theme="dark"] .maplibregl-ctrl-draw button.active,
html[data-bs-theme="dark"] .maplibregl-ctrl button:not(:disabled):hover {
  background-color: rgb(255 255 255 / 10%) !important;
}

html[data-bs-theme="dark"] .maplibregl-ctrl button:disabled {
  background-color: rgb(255 255 255 / 20%) !important;
}

html[data-bs-theme="dark"] .maplibregl-ctrl-group button + button {
  border-top-color: #515151 !important;
}

/** Light mode **/

html[data-bs-theme="light"] .maplibregl-ctrl-draw button.active,
html[data-bs-theme="light"] .maplibregl-ctrl button:not(:disabled):hover {
  background-color: rgb(0 0 0 / 10%) !important;
}

html[data-bs-theme="light"] .maplibregl-ctrl button:disabled {
  background-color: rgb(0 0 0 / 20%) !important;
}
