.container h2 {
  margin-top: 50px;
}

#navbar {
  z-index: 9999;
}

#navbar li.nav-item .mdi {
  vertical-align: middle;
  font-size: 120%;
}

#navbar .nav-select {
  height: initial;
}

#page-title {
  text-align: center;
  padding: 10px 0 20px;
}

#page-title small {
  font-size: 40%;
}

#user-icon {
  width: 100px;
  height: 100px;
}

.alert p:last-child {
  margin-bottom: 0;
}

#icons-list {
  margin-bottom: 0;
}

#icons-list li {
  line-height: 30px;
  padding: 10px 0;
}

#icons-list li span, #icons-list li .mdi {
  vertical-align: middle;
}

#icons-list li .mdi {
  font-size: 200%;
  margin-right: 10px;
}

#page-header {
  margin-bottom: 2em;
}

html[data-bs-theme="light"] #page-header {
  background-color: #dbdbdb;
}

html[data-bs-theme="dark"] #page-header {
  background-color: #111617;
}

#user-page-links {
  padding-bottom: 1em;
}

#accordion {
  margin-bottom: 1em;
}

.dropdown-menu, .dropdown-menu .dropdown-item {
  cursor: pointer;
}

.form-errors-alert .form-errors {
  margin-bottom: 0;
}

.masked {
  text-decoration: line-through;
  font-style: italic;
}

a {
  text-decoration: none;
}

/** Dark mode **/

html[data-bs-theme="dark"] #navbar {
  border-bottom: 1px solid rgb(255, 255, 255, 0.15);
}

html[data-bs-theme="dark"] .alert-warning a:not(:hover, .wiki-red-link) {
  color: #315c81;
}
